include CHANGELOG.rst
include LICENSE
include README.md
include requirements.txt 
include dev-requirements.txt

recursive-include crystals/cifs *.cif
recursive-include crystals/tests/data *

recursive-exclude docs *

global-exclude *.py[cod] __pycache__ *.so *.dylib