include CHANGELOG.rst
include LICENSE
include README.md

recursive-include crystals/cifs *.cif
recursive-include crystals/tests/data *
recursive-include crystals/indexing/tests/data *

recursive-exclude docs *

global-exclude *.py[cod] __pycache__ *.so *.dylib